.mainWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 0 30px;
}

.contentWrapper {
    border: 1px solid grey;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}