<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}"
>
<th:block layout:fragment="script">
  <script th:inline="javascript">
      <!-- 토스트 관련 설정 -->
      const Toast = Swal.mixin({
          toast: true,
          position: "top-center",
          showConfirmButton: false,
          timer: 1000,
          timerProgressBar: true,
          didOpen: (toast) => {
              toast.onmouseenter = Swal.stopTimer;
              toast.onmouseleave = Swal.resumeTimer;
          }
      });
      const deleteItem = (itemId) => {
          Swal.fire({
              title: '삭제하시겠습니까?',
              icon: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: '삭제',
              cancelButtonText: '취소'
          }).then((result) => {
              if (result.isConfirmed) {
                  const url = "/v2/items/delete/"+itemId;
                  $.ajax({
                      url: url,
                      type: "GET",
                      success: (result, status) => {
                          console.log('result', result)
                          console.log('status', status)
                          if(status === 'success') {
                              Toast.fire({
                                  icon: 'success',
                                  title: '성공!',
                              })
                              setTimeout(() => location.href='/v2/items', 2000);
                          }
                      },
                      error: (jqXHR) => {
                          if (jqXHR.status === 406) {
                              Toast.fire({
                                  icon: 'error',
                                  title: '삭제할 수 없습니다.',
                              })
                          }
                      }
                  });
              }
          })
      }
  </script>
</th:block>
<div layout:fragment="content" class="mainWrapper">
  <h1>상품 목록</h1>
  <div>
    <form th:object="${param}" class="search">
      <div class="form-group" style="width: 300px">
        <label th:for="name">상품명</label>
        <input type="text" th:field="*{name}" class="form-control" placeholder="상품명"/>
      </div>
      <div class="form-group" style="width: 300px">
        <label th:for="dType">상품분류</label>
        <select th:field="*{dType}"  class="form-control">
          <option value="">상품분류</option>
          <option th:each="dType : ${T(wendy.study.jpashop.model.type.DType).values()}"
                  th:value="${dType}"
                  th:text="${dType}">option
          </option>
        </select>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" style="width: 100px">검색</button>
      </div>
    </form>
  </div>
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th style="width: 10%">#</th>
      <th style="width: 15%">상품명</th>
      <th style="width: 10%">ITEM TYPE</th>
      <th style="width: 10%">가격</th>
      <th style="width: 10%">재고수량</th>
      <th style="width: 15%">등록일자</th>
      <th style="width: 15%">수정일자</th>
      <th></th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    <tr th:each="item : ${items}">
      <td th:text="${item.id}" th:onclick="|location.href='@{'/v2/items/'+${item.id}}'|"></td>
      <td th:text="${item.name}" th:onclick="|location.href='@{'/v2/items/'+${item.id}}'|"></td>
      <td th:text="${item.dType}" th:onclick="|location.href='@{'/v2/items/'+${item.id}}'|"></td>
      <td th:text="${item.price}" th:onclick="|location.href='@{'/v2/items/'+${item.id}}'|"></td>
      <td th:text="${item.stockQuantity}" th:onclick="|location.href='@{'/v2/items/'+${item.id}}'|"></td>
      <td th:text="${#dates.format(item.createdAt, 'yyyy-MM-dd HH:mm')}" th:onclick="|location.href='@{'/v2/items/'+${item.id}}'|"></td>
      <td th:text="${#dates.format(item?.modifiedAt, 'yyyy-MM-dd HH:mm')}" th:onclick="|location.href='@{'/v2/items/'+${item.id}}'|"></td>
      <td th:onclick="event.cancelBubble=true;">
        <button type="button" class="btn btn-sm btn-light"
                th:onclick="|location.href='@{'/v2/items/update/'+${item.id}}'|">수정</button>
        <button type="button" class="btn btn-sm btn-warning"
                th:item="${item.id}" onclick="deleteItem(this.getAttribute('item'))">삭제</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</html>