<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}"
>
<body>
<div layout:fragment="content" class="mainWrapper">
  <form role="form" th:object="${movie}" method="post">
    <!-- id 여부에 따라 등록, 수정 구분 -->
    <p class="h2" th:if="${#strings.isEmpty(movie.id)}">상품[MOVIE] 등록</p>
    <p class="h2" th:unless="${#strings.isEmpty(movie.id)}">상품[MOVIE] 상세</p>
    <input type="hidden" th:field="*{id}">

    <div th:if="${#fields.hasGlobalErrors()}">
      <div class="alert alert-danger" role="alert" th:each="err : ${#fields.globalErrors()}" th:text="${err}" />
    </div>
    <div class="form-group">
      <label th:for="name"> 상품명
        <input type="text" th:field="*{name}" class="form-control"
               placeholder="상품명을 입력하세요"
               th:class="${#fields.hasErrors('name')} ? 'form-control is-invalid' : 'form-control'">
      </label>
      <p class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
    </div>
    <div class="form-group">
      <label th:for="director"> 감독
        <input type="text" th:field="*{director}" class="form-control"
               placeholder="감독명을 입력하세요"
               th:class="${#fields.hasErrors('director')} ? 'form-control is-invalid' : 'form-control'">
      </label>
      <p class="invalid-feedback" th:if="${#fields.hasErrors('director')}" th:errors="*{director}"></p>
    </div>
    <div class="form-group">
      <label th:for="actor"> 배우
        <input type="text" th:field="*{actor}" class="form-control"
               placeholder="배우명을 입력하세요"
               th:class="${#fields.hasErrors('actor')} ? 'form-control is-invalid' : 'form-control'">
      </label>
      <p class="invalid-feedback" th:if="${#fields.hasErrors('actor')}" th:errors="*{actor}"></p>
    </div>
    <div class="form-group">
      <label th:for="price"> 가격
        <input type="text" th:field="*{price}" class="form-control"
               placeholder="상품 가격을 입력하세요"
               th:class="${#fields.hasErrors('price')} ? 'form-control is-invalid' : 'form-control'">
      </label>
      <p class="invalid-feedback" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></p>
    </div>
    <div class="form-group">
      <label th:for="stockQuantity"> 재고수량
        <input type="text" th:field="*{stockQuantity}" class="form-control"
               placeholder="재고수량을 입력하세요"
               th:class="${#fields.hasErrors('stockQuantity')} ? 'form-control is-invalid' : 'form-control'">
      </label>
      <p class="invalid-feedback" th:if="${#fields.hasErrors('stockQuantity')}" th:errors="*{stockQuantity}"></p>
    </div>

    <div th:if="${#strings.isEmpty(movie.id)}" style="text-align: center">
      <button th:formaction="@{/v2/items/new/movie}" type="submit"
              class="btn btn-primary">저장</button>
      <button type="button" class="btn btn-light"
              th:onclick="|location.href='@{/}'|">취소</button>
    </div>

    <div th:unless="${#strings.isEmpty(movie.id)}" style="text-align: center">
      <button th:formaction="@{'/v2/items/update/'+${movie.id}}" type="submit"
              class="btn btn-primary">수정</button>
      <button type="button" class="btn btn-light"
              th:onclick="|location.href='@{/v2/items}'|">취소</button>
    </div>
  </form>
</div>
</body>
</html>